<ion-header>
  <ion-toolbar>
    <ion-title>
      Giriş
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <ion-icon name="unlock" style="zoom:2.0;"></ion-icon>
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="nickname" class="fadeIn second" name="login" placeholder="kullanıcı adı">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="şifre">

        <input type="submit" class="fadeIn fourth" value="Giriş">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <p>Google hesabınız ile giriş yapın. </p> <a class="underlineHover" href="#"> <img src="../../assets/img/google_g_logo_png_593442.png" class="socialLogos"  alt="Google"> </a>
        <p>Hesabınız yok mu?</p> <a class="underlineHover" href="#"> Hemen kayıt olun. </a>
      </div>

    </div>
  </div>
</ion-content>
