<ion-header>
  <ion-toolbar>
    <ion-title>
      Kayıt
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <ion-icon name="bookmark" style="zoom:2.0;"></ion-icon>
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="email" class="fadeIn second" name="login" placeholder="e-posta">
        <input type="text" id="nickname" class="fadeIn third" name="login" placeholder="kullanıcı adı">
        <input type="text" id="password" class="fadeIn fourth" name="login" placeholder="şifre">

        <input type="submit" class="fadeIn fiveth" value="Kayıt Ol">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <p>Zaten bir hesabınız var mı?</p> <a class="underlineHover" href="#"> Giriş yapın. </a>
      </div>

    </div>
  </div>
</ion-content>
