<ion-header>
    <ion-toolbar>
      <ion-title>
        Ana Sayfa
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
<div class="background">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <ion-icon name="home" style="zoom:2.0;"></ion-icon><br>
                <h3 id= "gununSozleri" class= "fadeIn first" color="primary">Bunu biliyor musunuz? </h3><br>
                <h5 id="bunuBiliyormusunuz" > Mısır piramitlerinin Mısır'da olduğunu.</h5>
            </div>
            <div id="formFooter">
                <ion-button class="fadeIn second" color="dark">Oyun Sayfasına Git</ion-button>

            </div>
            </div>
    </div>
</div>
</ion-content>